.Cartoon {
  text-align: center;
}

body { 
  background-color: lightgray;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

.box1 {
  width: 100%;
  padding: 50px;
  border: solid black;
  border-width: 30px;
  background-color: skyblue;
  margin-bottom: 10px;
  box-sizing: border-box;
  box-align: center;
}

.title3 {
  text-align: center;
}

.school {
  text-align: center;
}